@charset "utf-8";

/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul, ol {
	list-style: none;
}
table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
img {
	vertical-align: middle; 
	border: none;
}
a {
	text-decoration: none;
	color: #666;
}

// Settings
$color1 : #56baff;
$ral : "Raleway";
$titi : "Titillium Web";
body {
  background: black;
  color:white;
}

.down .main-content {
  height:100vh;
  position: relative;
  text-align:center;
  width:100%;
}
.bounced-word {
    color:$color1;
    display:block;
    font-family:$titi;
    font-size:22px;
    font-weight:600;
    position:absolute;
    text-align:center;
    text-transform: uppercase;
    top:230px;
    transform:translate3d(0,-200px,0);
    width:100%;
  }
  .anim_1 {
      animation: 0s bounced-word infinite, 0s hideone infinite;
      color: white
  }
  .anim_2 {
      animation: 4s bounced-word infinite, 4s hidetwo infinite;
  }
  .anim_3 {
      animation: 4s bounced-word infinite, 4s hidethree infinite;
  }
  .anim_4 {
      animation: 4s bounced-word infinite, 4s hidefour infinite;
  }
}


@keyframes hideone {
  0%, 1% {
    visibility:visible;
  }
  2%, 34% {
    visibility:hidden;
  }
  35%, 67% {
    visibility:hidden;
  }
  68%, 100% {
    visibility:hidden;
  }
}
@keyframes hidetwo {
  0%, 1% {
    visibility:hidden;
  }
  2%, 34% {
    visibility:visible;
  }
  35%, 67% {
    visibility:hidden;
  }
  68%, 100% {
    visibility:hidden;
  }
}
@keyframes hidethree {
  0%, 1% {
    visibility:hidden;
  }
  2%, 34% {
    visibility:hidden;
  }
  35%, 67% {
    visibility:visible;
  }
  68%, 100% {
    visibility:hidden;
  }
}

@keyframes hidefour {
  0%, 1% {
    visibility:hidden;
  }
  2%, 34% {
    visibility:hidden;
  }
  35%, 67% {
    visibility:hidden;
  }
  68%, 100% {
    visibility:visible;
  }
}


/* Common CSS */
body {
	/* font-family: Arial Helvetica, "돋움", Dotum, sans-serif;  */
	background-color: #fff;
	color: #666;
	font-size: 16px;
}
.wrapper {
	margin: 0 auto;
	width: 960px;
	height: 1200px;
}
#header {
	height: 200px;
	/* border: 1px solid #09f; */
}
#header .logo {
	float: left;
	margin: 36px 0 0 30px;
}
#header .logo img {
	width: 250px;
}
#header .menu {
	float: right;
	margin: 40px 0 10px 0;
}
#gnb > ul > li {
	display: inline-block;
	position: relative;
	padding: 30px 0;
}
#gnb > ul > li > a {
	display: block;
	padding: 10px 40px;
	font-size: 19px;
}
#gnb > ul > li:hover > a,
#gnb > ul > li.active > a {
	color: #F9D45F;
}
#gnb ul ul {
	display: none;
	position: absolute;
	top: 80px;
	z-index: 1;
	padding: 8px 0;
	width: 100%;
	background-color: #fff;
}
#gnb ul ul a {
	display: block;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
}
#gnb ul ul a:hover,
#gnb ul ul a:focus {
	background-color: #F9D45F;
	color: #fff;
}
.main_image {
	position: relative;
	height: 350px;
	/* border: 1px solid #09f; */
}
.main_image .title {
	position: absolute;
	left: 0;
	top: 42%;
	z-index: 2;
	width: 100%;
}
.main_image .title h2 {
	text-align: center;
	font-size: 30px;
	font-weight: normal;
	color: #fff;
}
.main_image .image {
	position: relative;
	width: 960px;
	height: 350px;
	overflow: hidden;
}
.main_image .image ul {
	position: absolute;
	left: 0;
	top: 0;
	width: 5760px; /* 960*6 */
	height: 350px;
}
.main_image .image li {
	float: left;
	width: 960px;
	height: 350px;
}
.main_image .image img {
	max-width: 100%;
}
#contents {
	height: 500px;
	/* border: 1px solid #09f; */
}
#contents .up {
	height: 280px;
	/* border: 1px solid #09f; */
}
#contents .up .notice {
	float: left;
	margin-top: 20px;
	width: 500px;
	/* border: 1px solid #09f; */
}
#contents .up .notice h3 {
	font-size: 17px;
	color: #94d1d3;
}
#contents .up .notice .table1 table {
	margin-top: 20px;
}
#contents .up .notice .table1 th,
#contents .up .notice .table1 td {
	padding: 5px;
	line-height: 1.5;
	font-size: 15px;
	border-bottom: 1px solid #f4f4f4;
}
#contents .up .notice .table1 td.date {
	text-align: right;
	font-size: 14px;
	color: #ccc;
}
#contents .up .partner {
	float: right;
	margin-top: 20px;
	width: 430px;
	/* border: 1px solid #09f; */
}
#contents .up .partner h3 {
	font-size: 17px;
	color: #94d1d3;
}
#contents .up .partner li {
	margin-top: 30px;
	text-align: center;
}
#contents .down .banner {
	margin-top: 20px;
	text-align: center;
}
#contents .down .banner h3 {
	font-size: 17px;
	color: #94d1d3;
}
#contents .down .banner ul li {
	display: inline-block;
	margin: 25px 40px 0 40px;
	width: 200px;
	height: 120px;
	line-height: 130px;
	border: 1px solid #94d1d3;
}
#footer {
	padding: 25px 40px;
	height: 150px;
	background-color: #94d1d3;
}
#footer .top ul li {
	display: inline-block;
	margin-right: 10px;
}
#footer .top ul li a {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
}
#footer .bottom {
	margin-top: 20px;
	line-height: 1.5;
	font-size: 13px;
	color: #fff;
}
#footer .bottom a {
	color: #fff;
}